@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500&family=Poppins:wght@300;400;500;600;700;800&display=swap");
/* 
#006064 darker teal 
#00acc1 shadow teal 
#00b8d4 light teal 
#fff59d nice main yellow
*/
:root {
  font-size: 16px;
  font-family: "Poppins";
  --lavender: hsl(266, 100%, 90%);
  --juniper: hsl(188, 100%, 88%);
  --spirulina: hsl(130, 100%, 88%);
  --pink-lemonade: hsl(4, 100%, 85%);
  --blueberry: hsl(240, 38%, 82%);
  --color-2: hsl(0, 0%, 95%);
  --color-3: hsl(0, 0%, 5%);
  --color-3a: hsla(0, 0%, 5%, 0.3);
  --color-4: hsl(0, 0%, 15%);

  --border-width: 1px;

  --image-info-width: 60%;
  --direction-buttons-width: 6rem;
}

html {
  /* Next And Prev Button Background colors Variables */
  --nextBackgroundColor: var(--spirulina);
  --prevBackgroundColor: var(--blueberry);
  --opacity: 1;
  height: 100%;
  width: 100%;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  color: blue;
  text-decoration: none; /* no underline */
}
/* 
#006064 darker teal 
#00acc1 shadow teal 
#00b8d4 light teal 
#fff59d nice main yellow
*/
body {
  position: relative;
  background-color: var(--spirulina);
  display: flex;
  flex-direction: column;
  align-self: center;
}

main {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#background-color-popup {
  position: absolute;
  width: 5rem;
  aspect-ratio: 1/ 1;
  border-radius: 50%;
  scale: 1;
  left: 0;
  top: 0;
  z-index: -1;
}

#header {
  /* position: fixed; */
  /* very important */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border-width) solid var(--color-3a);
  width: 100%;
  max-height: 6rem;
  z-index: 99;
}

#logo-container {
  width: 15%;
  max-width: 5rem;
  display: flex;
  padding: 1rem;
  border-right: 1px solid var(--color-3a);
}

#logo {
  width: 100%;
  height: auto;
}

#navigation-options-container-desktop {
  display: none;
}

#navigation-options-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.17);
  gap: 1.5rem;
  top: 0rem;
  width: 100%;
  border-bottom: 1px solid var(--color-3a);
  padding: 1rem;
  font-weight: 500;
  z-index: 1;
  backdrop-filter: blur(10px);
  clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
}

.nav-options {
  position: relative;
  color: var(--color-3);
  font-weight: 500;
  padding-bottom: 0.2rem;
  color: black;
}

.nav-options::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: var(--color-3);
  transform-origin: right;
  scale: 0 1;
  transition: scale 0.2s ease-out;
}

.nav-options:hover:before {
  transform-origin: left;
  scale: 1 1;
  transition: scale 0.2s ease-out;
}

.nav #cart {
  display: flex;
  align-items: center;
  width: 4.5rem;
  justify-content: space-between;
  color: var(--color-3);
  font-weight: 500;
}

#menu-button {
  width: 2rem;
  display: grid;
  place-items: center;
  aspect-ratio: 1 / 1;
  margin-right: 0.75rem;
}

#menu-icon {
  font-size: 1.5rem;
  transition: rotate 0.3s ease;
}

#menu-icon:hover {
  rotate: 180deg;
}

#headline-container {
  padding: 2rem 1rem 2rem 1rem;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-bottom: 1px solid black;
}

#title {
  font-size: clamp(2rem, 5vw, 3rem);
}

#subtext {
  font-size: clamp(0.8rem, 2.5vw, 1rem);
}

#call-to-action {
  position: relative;
  align-self: center;
  padding: 1rem 3rem;
  border-radius: 50%;
  border: 1px solid;
  display: grid;
  place-items: center;
  transition: top .3s ease-out;
}

#call-to-action:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid black;
  top: -0.3rem;
  left: 0;
  z-index: -1;
  border-bottom: none;
  border-left: none;
  border-right: none;
  transition: top .3s ease-out;
}

#call-to-action:hover {
  top: -0.3rem;
}

#call-to-action:hover:before {
  top: 0;
}


#bottle-images-and-info-container {
  position: relative;
  display: flex;
 /* very important */
  width: 300%;
  max-width: 100rem;
  right: 25%;
  margin: 0 auto;
  justify-content: center;
  overflow: hidden;
  z-index: 0;
  border-left: var(--border-width) solid black;
  border-right: var(--border-width) solid black;
}

.image-and-info {
  flex: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: var(--image-info-width);
  max-width: 25rem;
  padding: 2rem 1rem;
  row-gap: 0.5rem;
  translate: 0 0;
  z-index: -1;
}

.image-and-info img {
  width: 80%;
  grid-column: 1/ 4;
  padding-bottom: 0.5rem;
  justify-self: center;

  padding: 0 1rem;
}

.image-and-info h3 {
  width: 100%;
  grid-column: 1 / 4;
  text-align: center;
  grid-row: 2;
  border-bottom: var(--border-width) solid var(--color-3);
  padding-bottom: 0.5rem;
  font-size: 1rem;
}

.price {
  grid-row: 3;
  grid-column: 1;
  align-self: center;
  justify-self: start;
}

.more-info-button {
  grid-column: 3;
  justify-self: end;
  align-self: center;
  width: 2rem;
  display: grid;
  place-items: center;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: var(--border-width) solid black;
  transition: rotate 0.5s ease;
}

.more-info-button:hover {
  rotate: 180deg;
}

#direction-button-container {
  position: absolute;
  width: 80%; /* very important */
  height: 100%;
  max-width: 50rem;
  z-index: 1;
  background-color: transparent;
  pointer-events: none;
}

.direction-buttons {
  position: absolute;
  width: var(--direction-buttons-width);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 2px solid var(--color-3);
  color: var(--color-3);
  z-index: 1;
  overflow: hidden;
  pointer-events: auto;
}

/* Prev and next background color to cover border*/

#background-color-next,
#background-color-prev {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--pink-lemonade-color);
  z-index: -1;
}

#next {
  right: 0%;
  top: 50%;
  transform: translate(50%, -50%);
}

#prev {
  left: 0%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Check gsap for the background color */
#next::before,
#prev::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#next::before {
  background-color: var(--nextBackgroundColor);
}

#prev::before {
  background-color: var(--prevBackgroundColor);
}

#next:hover:before,
#prev:hover:before {
  opacity: var(--opacity);
}

/* top prevent borders from crosslaping the prev and next button*/
.box {
  position: absolute;
  width: 120%;
  height: calc(50% - (var(--direction-buttons-width) / 2) - 5px);
  border: var(--border-width) solid black;
  border-top: 0px;
  border-bottom: 0px;
  z-index: -1;
}

#box-top {
  top: 0;
  left: 50%;
  translate: -50% 0;
}

#box-bottom {
  bottom: 0;
  left: 50%;
  translate: -50% 0;
}

/* End */

#collection-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  grid-template-rows: 80% 1fr 1fr;
  width: 80%;
  border-top: var(--border-width) solid black;
  padding: 2rem 1rem 2rem 1rem;
  row-gap: 0.5rem;
  column-gap: 1rem;
}

#bottle-collection-image {
  grid-column: 1 / 4;
  grid-row: 1;
  width: 100%;
  max-width: 20rem;
  justify-self: center;
}

#collection-heading {
  grid-column: 1/ 3;
  grid-row: 2;
  font-size: 1rem;
  align-self: end;
}

#collection-text {
  grid-column: 1 / 3;
  grid-row: 3;
  font-size: 0.8rem;
}

#read-more-button {
  grid-column: 3;
  grid-row: 2 / 4;
  width: calc(100% - 2.5rem);
  max-width: 7rem;
  min-width: 5rem;
  aspect-ratio: 1 / 1;
  border: var(--border-width) dashed black;
  border-radius: 50%;
  font-size: 0.8rem;

  rotate: -30deg;
  justify-self: flex-end;
  align-self: end;
  transition: rotate 0.3s ease-out;
}

#read-more-button:hover {
  rotate: 0deg;
}

@media only screen and (min-width: 600px) {
  #collection-container {
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 50% 50%;
    padding: 2rem 1rem 2rem 1rem;
    row-gap: 0.5rem;
    column-gap: 1rem;
  }

  #bottle-collection-image {
    grid-column: 1;
    grid-row: 1 / 3;
    max-width: 10rem;
  }

  #collection-heading {
    grid-column: 2/3;
    grid-row: 1;
    font-size: 1rem;
    align-self: center;
  }

  #collection-text {
    grid-column: 2 / 3;
    grid-row: 2;
    font-size: 0.8rem;
  }

  #read-more-button {
    grid-column: 3;
    grid-row: 1 / 3;
    place-self: center;
    justify-self: unset;
    align-self: unset;
  }
}

@media (min-width: 53.125rem) {
  main {
    height: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto auto;
  }

  #header {
    grid-column: 1 / 3;
  }

  #navigation-options-container {
    position: initial;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.5rem;
    top: 0rem;
    width: 100%;
    height: 100%;
    border-bottom: none;
    padding: 0 1rem;
    color: var(--color-3);
    font-weight: 500;
    z-index: 1;
    clip-path: inset(0 0 0 0);
    background-color: unset;
    backdrop-filter: unset;
  }

  #menu-button {
    display: none;
  }

  #headline-container {
    grid-column: 1;
    grid-row: 2 / 3;
    align-self: center;
    padding: 4rem;
    text-align: left;
    margin: none;
    border-bottom: none;
    width: 60%;

    border-right: var(--border-width) solid black;
  }

  #call-to-action {
    align-self: start;
  }

  #bottle-images-and-info-container {
    grid-column: 2;
    grid-row: 2 / 4;
    width: 100%;
    min-width: 20rem; 
    max-width: 25rem;
    border: none;
  }

  #box-top {
    height: calc(25% - (var(--direction-buttons-width) / 2) - 5px);
    top: 0;
    left: 50%;
    translate: -50% 0;
  }

  #box-bottom {
    height: calc(75% - (var(--direction-buttons-width) / 2) - 5px);
    bottom: 0;
    left: 50%;
    translate: -50% 0;
  }

  #next {
    right: 0%;
    top: 25%;
    transform: translate(50%, -50%);
  }

  #prev {
    left: 0%;
    top: 25%;
    transform: translate(-50%, -50%);
  }

  #collection-container {
    grid-template-columns: 30% 40% auto;
    grid-column: 1 / 2;
    grid-row: 3;
    height: 100%;
    border-right: var(--border-width) solid black;
  }

  #bottle-collection-image {
    align-self: flex-end;
  }

  #collection-heading {
    align-self: flex-end;
  }

  #read-more-button {
    justify-self: start;
    align-self: center;
  }
}

@media (min-width: 60.625rem) {
  main {
    height: 100%;
    display: grid;
    grid-template-columns: auto 25rem;
    grid-template-rows: auto auto auto;
  }

  #navigation-options-container {
    justify-content: flex-end;
    gap: 4rem;
    top: 0rem;
    width: 100%;
  }

  #headline-container {
    grid-column: 1;
    grid-row: 2 / 3;
    align-self: center;
    padding: 4rem 6rem;
    text-align: left;
    margin: none;
    border-bottom: none;
    width: 80%;

    border-right: var(--border-width) solid black;
  }

  #title {
    font-size: clamp(2rem, 4vw, 4rem);
    font-weight: 600;
  }

  #collection-container {
    grid-template-columns: 20% 40% auto;
  }

  #read-more-button {
    margin-left: 4rem;
  }
}
