/* CSS styles */
@charset "utf-8";

/* ==============================================Start of Header Package==============================================*/

/*** css body and container section end ***/

/*** header section start ***/

.biz_header {
  background-color: #fff;
  padding: 0px 25px;
  position: relative;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}

.biz_header .biz_header_top {
  display: flex;
  align-items: center;
}

.biz_header_top .biz_header_logo a img {
  max-width: 140px;
  margin-right: 20px;
}

.biz_header_top .biz_header_navbar .biz_header_navlink a {
  color: #1c1d1f;
  padding: 25px 4px;
  font-size: 15px;
  font-weight: 400;
  margin: 0 5px;
  transition: 0.4s;
}

.biz_header_top .biz_header_navbar .biz_header_navlink a:hover {
  color: #ff783d;
}

.biz_header_top .biz_header_searchbox {
  flex-grow: 1;
  padding: 0px 20px;
}

.biz_header_searchbox .form-group {
  margin-bottom: 0px;
  position: relative;
}

.biz_header_searchbox .form-group input {
  border-radius: 35px;
  font-size: 14px;
  padding: 22px 20px;
  color: #1c1d1f;
  border: 1px solid #1c1d1f;
  padding-left: 60px;
  outline: none;
  box-shadow: none;
}

.biz_header_searchbox .form-group input::placeholder {
  color: #6a6f73;
}

.biz_header_searchbox .form-group svg {
  max-width: 20px;
  position: absolute;
  left: 20px;
  top: 14px;
}

.biz_header_loginbox {
  display: flex;
  align-items: center;
}

.biz_header_loginbox .coursesbox_link a {
  color: #1c1d1f;
  padding: 8px;
  font-size: 15px;
  transition: 0.4s;
  margin-left: 10px;
}

.biz_header_loginbox .coursesbox_link a:hover {
  color: #ff783d;
}

.biz_header_loginbox .coursesbox_link a.notification {
  position: relative;
}

.biz_header_loginbox .coursesbox_link a.notification span {
  background-color: red;
  color: #fff;
  font-size: 10px;
  height: 18px;
  width: 18px;
  border-radius: 100%;
  position: absolute;
  right: 4px;
  top: 0;
  padding: 2px 0px;
  text-align: center;
}

.biz_header_loginbox .coursesbox_link a svg {
  max-width: 25px;
}

.biz_header_loginbox .coursesbox_link a.biz_prime_link {
  position: relative;
  padding-left: 35px;
  margin-left: 10px;
  background-color: #ff783d;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  border: 1px solid #ff783d;
  transition: 0.4s;
}

.biz_header_loginbox .coursesbox_link a.biz_prime_link:hover {
  color: #ff783d;
  background-color: #fff;
}

.biz_header_loginbox .coursesbox_link a.biz_prime_link svg {
  max-width: 20px;
  position: absolute;
  left: 8px;
  top: 7px;
}

.biz_header_loginbox .loginbox_link a img {
  max-width: 25px;
  margin-right: 10px;
}

.biz_header_loginbox .loginbox_link a {
  margin-left: 10px;
}

.biz_header_loginbox .loginbox_link a.login_link {
  color: #ff783d;
  padding: 8px;
  width: 100px;
  font-size: 15px;
  background-color: #fff;
  border: 1px solid #ff783d;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  transition: 0.4s;
}

.biz_header_loginbox .loginbox_link a.login_link:hover {
  color: #fff;
  background-color: #ff783d;
}

.biz_header_loginbox .loginbox_link a.login_link.loginlink_enroll {
  color: #fff;
  background-color: #ff783d;
}

.biz_header_loginbox .loginbox_link a.login_link.loginlink_enroll:hover {
  color: #ff783d;
  background-color: #fff;
}

.biz_header_top .biz_search_box {
  text-align: center;
}

.biz_header_top .biz_search_box a img {
  max-width: 140px;
  display: none;
}

.biz_sidebar_icon a {
  display: block;
  padding: 2px;
}

.biz_sidebar_icon {
  display: none;
}

.biz_sidebar_icon span.slide-icon {
  width: 25px;
  height: 2.5px;
  background-color: #1c1d1f;
  margin: 5px 0px;
  border-radius: 20px;
}

.biz_header_top .biz_header_navbar .menu {
  display: block;
  margin: 0;
  padding: 0;
  z-index: 99999;
}

.biz_header_top .biz_header_navbar .menu li {
  display: inline-block;
  position: relative;
  z-index: 100;
}

.biz_header_top .biz_header_navbar .menu li:first-child {
  margin-left: 0;
}

.biz_header_top .biz_header_navbar .menu li a {
  transition: all 0.2s ease-in-out 0s;
  display: inline-block;
}

.biz_header_top .biz_header_navbar .menu ul {
  margin: 0;
  padding: 0;
  width: 270px;
  position: absolute;
  left: 9px;
  background: #fff;
  z-index: 99;
  padding: 20px 0px;
  box-shadow: 0 0 0 1px #d1d7dc, 0 2px 4px rgb(0 0 0 / 8%),
    0 4px 12px rgb(0 0 0 / 8%);
  display: none;
  min-height: 240px;
}

.biz_header_top .biz_header_navbar .menu ul.sub-menu {
  min-height: 240px;
}

.biz_header_top .biz_header_navbar .menu ul li {
  display: block;
  float: none;
  background: none;
  margin: 0;
  padding: 0;
  position: initial;
}

.biz_header_top .biz_header_navbar .menu ul li a {
  padding: 8px 25px;
  margin: 0;
  width: 100%;
  position: relative;
}

.biz_header_top .biz_header_navbar .menu ul li a i {
  position: absolute;
  right: 12px;
  font-size: 18px;
  top: 9px;
}

.biz_header_top .biz_header_navbar .menu ul li a:hover {
  letter-spacing: 1px;
}

.biz_header_top .biz_header_navbar .menu li:hover>ul {
  display: block;
}

.biz_header_top .biz_header_navbar .menu ul ul {
  left: 272px;
  top: 0px;
  position: absolute;
  display: none;
}

.biz_header_top .biz_header_navbar .menu li>ul ul:hover {
  display: block;
}

.biz_header_top .biz_header_navbar .responsive-menu {
  display: none;
  width: 100%;
  padding: 20px 15px;
  background: #374147;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.biz_header_top .biz_header_navbar .responsive-menu:hover {
  background: #374147;
  color: #fff;
  text-decoration: none;
}

a.homer {
  background: #9ca3da;
}

.biz_header_top .biz_header_navbar .menu li.menu_hide_box {
  display: none;
}

.biz_header_top .biz_header_navbar .menu li.menu_hide_box2 p {
  margin: 0;
}

.biz_header_top .biz_header_navbar .menu li.menu_hide_box2 p a {
  font-weight: 400;
  padding: 5px 25px;
  padding-left: 40px;
}

.biz_header_top .biz_header_navbar .menu li.menu_hide_box3 {
  padding-bottom: 10px;
}

.biz_header_top .biz_header_navbar .menu li.menu_hide_box4 {
  position: fixed;
  background-color: #fff;
  z-index: 9999;
  border-bottom: 0;
  padding: 25px;
  top: 0;
  width: 300px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}

.biz_header_top .biz_header_navbar .menu li.menu_hide_box4 img {
  max-width: 150px;
}

.biz_header_top .biz_header_navbar .menu li.menu_hide_box3 a {
  color: #6063ff;
  font-weight: 500;
  padding: 5px 25px;
}

.biz_header_top .biz_header_navbar .menu li.menu_hide_box3 a:hover {
  background-color: transparent;
  color: #6063ff;
}

.biz_header_top .biz_header_navbar .menu li.menu_hide_box4 img.menu_close {
  max-width: 50px;
  position: absolute;
  right: -70px;
  top: 15px;
  z-index: 9999;
}

.biz_header_overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  border-radius: 8px;
  background: #000000;
  opacity: 55%;
  display: none;
}

.biz_header_loginbox .biz_profile_icon img {
  width: 33px;
  max-width: 33px !important;
  height: 33px;
  border-radius: 100%;
  border: 1px solid #ff8651;
  object-fit: cover;
}

.coursesbox_link {
  display: flex;
  align-items: center;
}

@media (max-width: 1095px) {
  .biz_header_top .biz_search_box {
    text-align: left;
  }

  .biz_header_top .biz_header_navbar .menu ul li a:hover {
    letter-spacing: 0;
  }

  .biz_header_loginbox .coursesbox_link a.biz_prime_link,
  .biz_header_loginbox .coursesbox_link a.biz_my-courses {
    display: none;
  }

  .biz_header_top .biz_header_logo {
    display: none;
  }

  .biz_header_top .biz_search_box a img {
    display: inline-block;
  }

  .biz_header_searchbox .form-group {
    display: none;
  }

  .biz_sidebar_icon span.slide-icon {
    display: block;
  }

  .biz_header_top .biz_header_navbar .menu ul {
    top: 37px;
  }

  .biz_header_top .biz_header_navbar .menu li a {
    font-size: 12px;
  }

  a.homer {
    background: #374147;
  }

  .biz_header_top .biz_header_navbar .menu {
    display: none;
    position: absolute;
    background: #fff;
    top: 0;
    height: 100vh;
    left: 0;
    overflow-y: scroll;
    width: 300px;
    padding-top: 120px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  }

  .biz_header_top .biz_header_navbar .responsive-menu {
    display: block;
  }

  .biz_header_top .biz_header_navbar nav {
    margin: 0;
    background: none;
  }

  .biz_header_top .biz_header_navbar .menu li {
    display: block;
    margin: 0;
    border-bottom: 1px solid #d1d7dc;
  }

  .biz_header_top .biz_header_navbar .menu li:last-child {
    border-bottom: 0;
  }

  .biz_header_top .biz_header_navbar .menu li.menu_hide_box {
    display: block;
  }

  .biz_header_top .biz_header_navbar .menu li a {
    background: #fff;
    color: #585858;
    margin: 0;
    width: 100%;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 600;
  }

  .biz_header_top .biz_header_navbar .menu ul li a {
    font-weight: 400;
    color: #1c1d1f;
  }

  .biz_header_top .biz_header_navbar .menu li a:hover,
  .menu li:hover>a {
    background: #ff783d;
    color: #fff;
  }

  .biz_header_top .biz_header_navbar .menu ul {
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    transform: initial;
    position: absolute;
    padding: 0;
    min-height: auto;
  }

  .biz_header_top .biz_header_navbar .menu ul li ul {
    box-shadow: none;
  }

  .biz_header_top .biz_header_navbar .menu li ul li ul li a {
    padding-left: 40px;
    font-size: 14px;
    background-color: rgb(255 120 61 / 13%);
    border-left: 3px solid #80808096;
  }

  .biz_header_top .biz_header_navbar .menu li ul li ul li a:hover {
    background-color: rgb(255 120 61 / 50%);
    color: #1c1d1f;
  }

  .biz_header_top .biz_header_navbar .menu li ul li:last-child {
    border-bottom: 0 !important;
  }

  .biz_header_top .biz_header_navbar .menu li:hover>ul {
    visibility: visible;
    opacity: 1;
    position: relative;
    transform: initial;
  }

  .biz_header_top .biz_header_navbar .menu ul ul {
    left: 0;
    transform: initial;
  }

  .biz_header_top .biz_header_navbar .menu li>ul ul:hover {
    transform: initial;
  }

  .biz_sidebar_icon {
    display: block;
  }
}

@media (max-width: 575px) {

  .biz_header_top .biz_header_searchbox,
  .biz_header {
    padding: 0px 10px;
  }
}

@media (max-width: 479px) {

  .biz_header_top .biz_header_navbar .menu li.menu_hide_box4,
  .biz_header_top .biz_header_navbar .menu {
    width: 250px;
  }

  .biz_header_top .biz_header_navbar .menu li a {
    font-size: 14px;
  }

  .biz_header_top .biz_header_navbar .menu li.menu_hide_box4 {
    padding: 15px 25px;
  }

  .biz_header_top .biz_header_navbar .menu {
    padding-top: 100px;
  }

  .biz_header_top .biz_header_navbar .menu li.menu_hide_box4 img.menu_close {
    max-width: 45px;
    right: -55px;
  }

  .biz_header_top .biz_search_box a img {
    max-width: 90px;
  }

  .biz_sidebar_icon span.slide-icon {
    width: 19px;
    margin: 3px 0px;
  }

  .biz_header {
    padding: 0px 10px;
    padding-left: 5px;
  }

  .biz_header_loginbox .coursesbox_link a svg {
    max-width: 20px;
  }

  .biz_header_loginbox .biz_profile_icon img {
    width: 28px;
    max-width: 28px !important;
    height: 28px;
    border-radius: 100%;
    border: 1px solid #ff8651;
    object-fit: cover;
  }

  .biz_header_loginbox .coursesbox_link a {
    padding: 0;
  }

  .biz_header_loginbox .coursesbox_link a.notification span {
    background-color: red;
    color: #fff;
    font-size: 10px;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    position: absolute;
    right: 0px;
    top: -5px;
    padding: 1px 0px;
    text-align: center;
  }
}

/* ==============================================End of Header Package==============================================*/
body {
  background-image: url('https://cdn.dribbble.com/users/1162077/screenshots/4667608/food-pattern.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.submission-result {
  display: none;
}

.submission-result.show {
  display: block;
  animation: fadeInDown 1s ease;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.snack-details {
  display: none;
}

.snack-details.show {
  display: block;
}

.upvote {
  background-color: #ffffff;
}

.upvote.onoff {
  background-color: #0047d6;
}

.upvote {
  display: inline-block;
  padding: 5px 5px;
  color: #000000;
  border: none;
  border-radius: 5px;
  transition: background-color 0.15s ease;
}

.upvote:hover {
  background-color: #004d40 ;
}


.snack-card {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #dfe6f1;
}

.show-details {
  display: inline-block;
  padding: 5px 10px;
  background-color: #00b8d4;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.show-details:hover {
  background-color: #004d40 ;
}

.snack-details {
  margin-top: 10px;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
}
img.img-fluid {
    height: 220px;
}

h1 {
  font-family: 'Arial', sans-serif;
  font-size: 40px;
  color: #00b8d4;
  margin-bottom: 20px;
  padding: 10px;
  background-image: linear-gradient(to right, #00b8d4, #00bfff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradientAnimation 3s linear infinite;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

h1::after {
  content: "";
  display: block;
  height: 3px;
  width: 50px;
  background-color: #00b8d4;
  margin: 10px 0;
}


/* Snacks */

#snack-form {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 1s ease;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.form-label {
  color: #00b8d4;
  font-weight: bold;
}

.form-control {
  background-color: #fff;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.form-control:focus {
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-select {
  background-color: #fff;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 5px 10px;
}




@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
