@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
/*** header section start ***/

.biz_header {
  background-color: #fff;
  padding: 0px 25px;
  position: relative;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}
.biz_header .biz_header_top {
  display: flex;
  align-items: center;
}
.biz_header_top .biz_header_logo a img {
  max-width: 140px;
  margin-right: 20px;
}
.biz_header_top .biz_header_navbar .biz_header_navlink a {
  color: #1c1d1f;
  padding: 25px 4px;
  font-size: 15px;
  font-weight: 400;
  margin: 0 5px;
  transition: 0.4s;
}
.biz_header_top .biz_header_navbar .biz_header_navlink a:hover {
  color: #ff783d;
}
.biz_header_top .biz_header_searchbox {
  flex-grow: 1;
  padding: 0px 20px;
}
.biz_header_searchbox .form-group {
  margin-bottom: 0px;
  position: relative;
}
.biz_header_searchbox .form-group input {
  border-radius: 35px;
  font-size: 14px;
  padding: 22px 20px;
  color: #1c1d1f;
  border: 1px solid #1c1d1f;
  padding-left: 60px;
  outline: none;
  box-shadow: none;
}
.biz_header_searchbox .form-group input::placeholder {
  color: #6a6f73;
}
.biz_header_searchbox .form-group svg {
  max-width: 20px;
  position: absolute;
  left: 20px;
  top: 14px;
}
.biz_header_loginbox {
  display: flex;
  align-items: center;
}
.biz_header_loginbox .coursesbox_link a {
  color: #1c1d1f;
  padding: 8px;
  font-size: 15px;
  transition: 0.4s;
  margin-left: 10px;
}
.biz_header_loginbox .coursesbox_link a:hover {
  color: #ff783d;
}
.biz_header_loginbox .coursesbox_link a.notification {
  position: relative;
}
.biz_header_loginbox .coursesbox_link a.notification span {
  background-color: red;
  color: #fff;
  font-size: 10px;
  height: 18px;
  width: 18px;
  border-radius: 100%;
  position: absolute;
  right: 4px;
  top: 0;
  padding: 2px 0px;
  text-align: center;
}
.biz_header_loginbox .coursesbox_link a svg {
  max-width: 25px;
}
.biz_header_loginbox .coursesbox_link a.biz_prime_link {
  position: relative;
  padding-left: 35px;
  margin-left: 10px;
  background-color: #ff783d;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  border: 1px solid #ff783d;
  transition: 0.4s;
}
.biz_header_loginbox .coursesbox_link a.biz_prime_link:hover {
  color: #ff783d;
  background-color: #fff;
}
.biz_header_loginbox .coursesbox_link a.biz_prime_link svg {
  max-width: 20px;
  position: absolute;
  left: 8px;
  top: 7px;
}
.biz_header_loginbox .loginbox_link a img {
  max-width: 25px;
  margin-right: 10px;
}
.biz_header_loginbox .loginbox_link a {
  margin-left: 10px;
}
.biz_header_loginbox .loginbox_link a.login_link {
  color: #ff783d;
  padding: 8px;
  width: 100px;
  font-size: 15px;
  background-color: #fff;
  border: 1px solid #ff783d;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  transition: 0.4s;
}
.biz_header_loginbox .loginbox_link a.login_link:hover {
  color: #fff;
  background-color: #ff783d;
}

.biz_header_loginbox .loginbox_link a.login_link.loginlink_enroll {
  color: #fff;
  background-color: #ff783d;
}
.biz_header_loginbox .loginbox_link a.login_link.loginlink_enroll:hover {
  color: #ff783d;
  background-color: #fff;
}
.biz_header_top .biz_search_box {
  text-align: center;
}
.biz_header_top .biz_search_box a img {
  max-width: 140px;
  display: none;
}
.biz_sidebar_icon a {
  display: block;
  padding: 2px;
}
.biz_sidebar_icon {
  display: none;
}
.biz_sidebar_icon span.slide-icon {
  width: 25px;
  height: 2.5px;
  background-color: #1c1d1f;
  margin: 5px 0px;
  border-radius: 20px;
}

.biz_header_top .biz_header_navbar .menu {
  display: block;
  margin: 0;
  padding: 0;
  z-index: 99999;
}

.biz_header_top .biz_header_navbar .menu li {
  display: inline-block;
  position: relative;
  z-index: 100;
}

.biz_header_top .biz_header_navbar .menu li:first-child {
  margin-left: 0;
}

.biz_header_top .biz_header_navbar .menu li a {
  transition: all 0.2s ease-in-out 0s;
  display: inline-block;
}

.biz_header_top .biz_header_navbar .menu ul {
  margin: 0;
  padding: 0;
  width: 270px;
  position: absolute;
  left: 9px;
  background: #fff;
  z-index: 99;
  padding: 20px 0px;
  box-shadow: 0 0 0 1px #d1d7dc, 0 2px 4px rgb(0 0 0 / 8%),
    0 4px 12px rgb(0 0 0 / 8%);
  display: none;
  min-height: 240px;
}
.biz_header_top .biz_header_navbar .menu ul.sub-menu {
  min-height: 240px;
}

/*.menu ul:after {
    bottom: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 6px;
    margin-left: -6px;
}*/

.biz_header_top .biz_header_navbar .menu ul li {
  display: block;
  float: none;
  background: none;
  margin: 0;
  padding: 0;
  position: initial;
}

.biz_header_top .biz_header_navbar .menu ul li a {
  padding: 8px 25px;
  margin: 0;
  width: 100%;
  position: relative;
}
.biz_header_top .biz_header_navbar .menu ul li a i {
  position: absolute;
  right: 12px;
  font-size: 18px;
  top: 9px;
}
.biz_header_top .biz_header_navbar .menu ul li a:hover {
  letter-spacing: 1px;
}
.biz_header_top .biz_header_navbar .menu li:hover > ul {
  display: block;
}

.biz_header_top .biz_header_navbar .menu ul ul {
  left: 272px;
  top: 0px;
  position: absolute;
  display: none;
}

/*.menu ul ul:after {
    left: -6px;
    top: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 6px;
    margin-top: -6px;
}*/

.biz_header_top .biz_header_navbar .menu li > ul ul:hover {
  display: block;
}

.biz_header_top .biz_header_navbar .responsive-menu {
  display: none;
  width: 100%;
  padding: 20px 15px;
  background: #374147;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.biz_header_top .biz_header_navbar .responsive-menu:hover {
  background: #374147;
  color: #fff;
  text-decoration: none;
}

a.homer {
  background: #9ca3da;
}

.biz_header_top .biz_header_navbar .menu li.menu_hide_box {
  display: none;
}
.biz_header_top .biz_header_navbar .menu li.menu_hide_box2 p {
  margin: 0;
}
.biz_header_top .biz_header_navbar .menu li.menu_hide_box2 p a {
  font-weight: 400;
  padding: 5px 25px;
  padding-left: 40px;
}
.biz_header_top .biz_header_navbar .menu li.menu_hide_box3 {
  padding-bottom: 10px;
}
.biz_header_top .biz_header_navbar .menu li.menu_hide_box4 {
  position: fixed;
  background-color: #fff;
  z-index: 9999;
  border-bottom: 0;
  padding: 25px;
  top: 0;
  width: 300px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}
.biz_header_top .biz_header_navbar .menu li.menu_hide_box4 img {
  max-width: 150px;
}
.biz_header_top .biz_header_navbar .menu li.menu_hide_box3 a {
  color: #6063ff;
  font-weight: 500;
  padding: 5px 25px;
}
.biz_header_top .biz_header_navbar .menu li.menu_hide_box3 a:hover {
  background-color: transparent;
  color: #6063ff;
}
.biz_header_top .biz_header_navbar .menu li.menu_hide_box4 img.menu_close {
  max-width: 50px;
  position: absolute;
  right: -70px;
  top: 15px;
  z-index: 9999;
}

.biz_header_overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  border-radius: 8px;
  background: #000000;
  opacity: 55%;
  display: none;
}
.biz_header_loginbox .biz_profile_icon img {
  width: 33px;
  max-width: 33px !important;
  height: 33px;
  border-radius: 100%;
  border: 1px solid #ff8651;
  object-fit: cover;
}
.coursesbox_link {
  display: flex;
  align-items: center;
}

@media (max-width: 1095px) {
  .biz_header_top .biz_search_box {
    text-align: left;
  }
  .biz_header_top .biz_header_navbar .menu ul li a:hover {
    letter-spacing: 0;
  }
  .biz_header_loginbox .coursesbox_link a.biz_prime_link,
  .biz_header_loginbox .coursesbox_link a.biz_my-courses {
    display: none;
  }
  .biz_header_top .biz_header_logo {
    display: none;
  }
  .biz_header_top .biz_search_box a img {
    display: inline-block;
  }
  .biz_header_searchbox .form-group {
    display: none;
  }
  .biz_sidebar_icon span.slide-icon {
    display: block;
  }
  .biz_header_top .biz_header_navbar .menu ul {
    top: 37px;
  }

  .biz_header_top .biz_header_navbar .menu li a {
    font-size: 12px;
  }

  a.homer {
    background: #374147;
  }
  .biz_header_top .biz_header_navbar .menu {
    display: none;
    position: absolute;
    background: #fff;
    top: 0;
    height: 100vh;
    left: 0;
    overflow-y: scroll;
    width: 300px;
    padding-top: 120px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  }
  .biz_header_top .biz_header_navbar .responsive-menu {
    display: block;
  }

  .biz_header_top .biz_header_navbar nav {
    margin: 0;
    background: none;
  }

  .biz_header_top .biz_header_navbar .menu li {
    display: block;
    margin: 0;
    border-bottom: 1px solid #d1d7dc;
  }
  .biz_header_top .biz_header_navbar .menu li:last-child {
    border-bottom: 0;
  }
  .biz_header_top .biz_header_navbar .menu li.menu_hide_box {
    display: block;
  }
  .biz_header_top .biz_header_navbar .menu li a {
    background: #fff;
    color: #585858;
    margin: 0;
    width: 100%;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 600;
  }
  .biz_header_top .biz_header_navbar .menu ul li a {
    font-weight: 400;
    color: #1c1d1f;
  }
  .biz_header_top .biz_header_navbar .menu li a:hover,
  .menu li:hover > a {
    background: #ff783d;
    color: #fff;
  }

  .biz_header_top .biz_header_navbar .menu ul {
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    transform: initial;
    position: absolute;
    padding: 0;
    min-height: auto;
  }
  .biz_header_top .biz_header_navbar .menu ul li ul {
    box-shadow: none;
  }
  .biz_header_top .biz_header_navbar .menu li ul li ul li a {
    padding-left: 40px;
    font-size: 14px;
    background-color: rgb(255 120 61 / 13%);
    border-left: 3px solid #80808096;
  }
  .biz_header_top .biz_header_navbar .menu li ul li ul li a:hover {
    background-color: rgb(255 120 61 / 50%);
    color: #1c1d1f;
  }
  .biz_header_top .biz_header_navbar .menu li ul li:last-child {
    border-bottom: 0 !important;
  }
  .biz_header_top .biz_header_navbar .menu li:hover > ul {
    visibility: visible;
    opacity: 1;
    position: relative;
    transform: initial;
  }

  .biz_header_top .biz_header_navbar .menu ul ul {
    left: 0;
    transform: initial;
  }

  .biz_header_top .biz_header_navbar .menu li > ul ul:hover {
    transform: initial;
  }
  .biz_sidebar_icon {
    display: block;
  }
}

@media (max-width: 575px) {
  .biz_header_top .biz_header_searchbox,
  .biz_header {
    padding: 0px 10px;
  }
}

@media (max-width: 479px) {
  .biz_header_top .biz_header_navbar .menu li.menu_hide_box4,
  .biz_header_top .biz_header_navbar .menu {
    width: 250px;
  }
  .biz_header_top .biz_header_navbar .menu li a {
    font-size: 14px;
  }
  .biz_header_top .biz_header_navbar .menu li.menu_hide_box4 {
    padding: 15px 25px;
  }
  .biz_header_top .biz_header_navbar .menu {
    padding-top: 100px;
  }
  .biz_header_top .biz_header_navbar .menu li.menu_hide_box4 img.menu_close {
    max-width: 45px;
    right: -55px;
  }
  .biz_header_top .biz_search_box a img {
    max-width: 90px;
  }
  .biz_sidebar_icon span.slide-icon {
    width: 19px;
    margin: 3px 0px;
  }
  .biz_header {
    padding: 0px 10px;
    padding-left: 5px;
  }
  .biz_header_loginbox .coursesbox_link a svg {
    max-width: 20px;
  }
  .biz_header_loginbox .biz_profile_icon img {
    width: 28px;
    max-width: 28px !important;
    height: 28px;
    border-radius: 100%;
    border: 1px solid #ff8651;
    object-fit: cover;
  }
  .biz_header_loginbox .coursesbox_link a {
    padding: 0;
  }
  .biz_header_loginbox .coursesbox_link a.notification span {
    background-color: red;
    color: #fff;
    font-size: 10px;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    position: absolute;
    right: 0px;
    top: -5px;
    padding: 1px 0px;
    text-align: center;
  }
}
/* ===================================End of Header Package===================================*/
body {
  background-color: #2c2c2c;
  font-family: "VT323", monospace;
  background-image: url("");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.logo {
  width: 150px; /* Adjust the size of the circular frame */
  height: 150px; /* Adjust the size of the circular frame */
  border-radius: 50%; /* Makes the frame circular */
  overflow: hidden; /* Clips the content inside the frame */
  border: 2px solid #fff; /* Optional: Add a border to the frame */
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.profile {
  width: 100%; /* Ensures the image fills the circular frame */
  height: 100%; /* Ensures the image fills the circular frame */
  object-fit: cover; /* Maintains aspect ratio and covers the entire frame */
}

/* navbar */
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn-nav {
  display: flex;
  height: auto;
}
.btn {
  display: flex;
  margin-left: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 110px;
  margin-left: 2rem;
  height: 40px;
}
.btn:hover {
  background: #ff9191;
  mix-blend-mode: normal;
  border: 3px solid #000000;
  box-shadow: 5px 5px 0px #000000;
  transition: 0.2s ease;
}
a:hover {
  color: #121212;
  transition: 1s ease;
}
a {
  font-family: "VT323";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;

  /* identical to box height */
  text-transform: uppercase;

  color: white;
  text-decoration: none;
}

/* Hero */

#typed {
  color: white;
  font-size: larger;
  margin-bottom: -2px;
}
header.hero {
  align-items: center;
  flex-direction: center;
  justify-content: center;
  display: flex;
  padding: 20px;
}
header.hero .heading h1 {
  width: 500px;
  height: auto;
  font-family: "VT323";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 70px;
  text-transform: uppercase;
  color: #ffffff;
}

h1 strong {
  color: #ff5050;
}
h1 strong:hover {
  text-shadow: 5px 3px 0px #000000;
  transition: 0.5s ease;
}
header.hero .heading h2 {
  width: 500px;
  height: auto;
  font-family: "VT323";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  color: #ffffff;
}
header.hero .heading h3 {
  width: 500px;
  height: auto;
  font-family: "VT323";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
}
header.hero .paragraph p {
  width: 479px;
  height: 66px;

  font-family: "VT323";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  /* or 125% */
  text-transform: uppercase;
  color: #bdc0db;
}
p strong.kotamie {
  color: #ffc700;
}
p strong.rendang {
  color: #ff5050;
}
span.pill {
  padding: 10px;
  gap: 10px;
  margin-right: 10px;

  width: 67px;
  height: 43px;

  background: #d5904e;
  border: 3px solid #000000;
  box-shadow: 5px 5px 0px #000000;
  transform: rotate(-3.21deg);
}
.right-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.medsos {
  margin-top: 1rem;
}
i.bi:hover {
  color: #ff5050;
  transition: 0.5s ease-in-out;
}

footer p.teks-footer {
  text-align: center;
  color: white;
}

strong.strong-footer {
  color: #ff5050;
}

strong.api:hover {
  text-shadow: 5px 5px 0px #000000;
  transition: 0.1s;
}
.img p {
}
img.profile {
  width: 100%;
  max-width: 15vw;
}
img.profile:hover {
  mix-blend-mode: normal;
  border: 3px solid #000000;
  box-shadow: 5px 5px 0px #ff5050;
  transition: 0.2s;
}

@media only screen and (max-width: 600px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
  }

  .btn-nav {
    display: flex;
    flex-direction: column;
  }
  header.hero {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    text-align: center;
  }
  header.hero .left-hero {
    text-align: center;
    margin-bottom: 4rem;
  }
  header.hero .heading {
    text-align: center;
  }

  header.hero .heading h1 {
    width: auto;
    height: auto;

    font-family: "VT323";
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 70px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
  }
  
  
  
  header.hero .paragraph p {
    width: auto;
    height: 110px;

    font-family: "VT323";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    /* or 125% */
    text-transform: uppercase;
    color: #bdc0db;
  }
  span.pill {
    gap: 10px;
    margin-right: 10px;

    width: 67px;
    height: 43px;

    background: #d5904e;
    border: 3px solid #000000;
    box-shadow: 5px 5px 0px #000000;
    transform: rotate(-3.21deg);
  }
}
